/* CARD CONTAINER */
.card-container-lg {
  background-size: cover;
  width: 300px;
  height: 300px;
  position: relative;
  color: white;
}
.card-container-md {
  background-size: cover;
  width: 200px;
  height: 200px;
  position: relative;
  color: white;
}
.card-container-sm {
  background-size: cover;
  width: 100px;
  height: 100px;
  position: relative;
  color: white;
}

/* BORDERS */
.card-border {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card-border-mag {
  background-image: url("/public/assets/borders/champ_mag_border.png");
}
.card-border-pow {
  background-image: url("/public/assets/borders/champ_pow_border.png");
}
.card-border-spd {
  background-image: url("/public/assets/borders/champ_spd_border.png");
}
.card-border-acc {
  background-image: url("/public/assets/borders/acc_border.png");
}
.card-border-com-mag {
  background-image: url("/public/assets/borders/com_mag_border.png");
}
.card-border-com-pow {
  background-image: url("/public/assets/borders/com_pow_border.png");
}
.card-border-com-spd {
  background-image: url("/public/assets/borders/com_spd_border.png");
}

/* CARD CP */
.card-cp-lg {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 3rem;
  text-align: center;
  min-width: 60px;
}
.card-cp-md {
  position: absolute;
  top: 7px;
  left: 14px;
  font-size: 2rem;
  text-align: center;
  min-width: 40px;
}
.card-cp-sm {
  position: absolute;
  top: 4px;
  left: 7px;
  font-size: 1rem;
  text-align: center;
  min-width: 20px;
}

/* CARD DF */
.card-df-lg {
  position: absolute;
  bottom: -5px;
  right: 10px;
  font-size: 3rem;
}
.card-df-md {
  position: absolute;
  bottom: -4px;
  right: 7px;
  font-size: 2rem;
}
.card-df-sm {
  position: absolute;
  bottom: -2px;
  right: 3px;
  font-size: 1rem;
}

/* CARD PW */
.card-pw-lg {
  position: absolute;
  bottom: 35px;
  right: 70px;
  font-size: 3rem;
}
.card-pw-md {
  position: absolute;
  bottom: 28px;
  right: 45px;
  font-size: 2rem;
}
.card-pw-sm {
  position: absolute;
  bottom: 14px;
  right: 20px;
  font-size: 1rem;
}

/* CARD VAL */
.card-val-lg {
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: 3rem;
}
.card-val-md {
  position: absolute;
  bottom: 8px;
  right: 28px;
  font-size: 2rem;
}
.card-val-sm {
  position: absolute;
  bottom: 4px;
  right: 14px;
  font-size: 1rem;
}


.card-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.card-view hr {
  width: 80%;
}

/* CARD MARKER */
.card-marker-lg {
  width: 91px;
  height: 79px;
  background-size: cover;
  position: absolute;
  bottom: 75px;
  right: -5px;
}
.card-marker-md {
  width: 65px;
  height: 56.5px;
  background-size: cover;
  position: absolute;
  bottom: 50px;
  right: -5px;
}
.card-marker-sm {
  width: 32.5px;
  height: 28.25px;
  background-size: cover;
  position: absolute;
  bottom: 25px;
  right: -2px;
}

/* CHAMP MARKER */
.champ-marker-lg {
  width: 91px;
  height: 79px;
  background-size: cover;
  position: absolute;
  bottom: 95px;
  right: -5px;
}
.champ-marker-md {
  width: 65px;
  height: 56.5px;
  background-size: cover;
  position: absolute;
  bottom: 65px;
  right: -5px;
}
.champ-marker-sm {
  width: 32.5px;
  height: 28.25px;
  background-size: cover;
  position: absolute;
  bottom: 32px;
  right: -2px;
}

/* RARE MARKER */
.card-rarity-lg {
  width: 65px;
  height: 56.5px;
  background-size: cover;
  background-image: url("/public/assets/markers/rare.png");
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.card-rarity-md {
  width: 32.5px;
  height: 28.25px;
  background-size: cover;
  background-image: url("/public/assets/markers/rare.png");
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.card-rarity-sm {
  width: 23.4px;
  height: 20.34px;
  background-size: cover;
  background-image: url("/public/assets/markers/rare.png");
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* PRICE */
/* CHAMP MARKER */
.card-count-lg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.card-count-md {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.card-count-sm {
  font-size: 1rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* EDITOR */
.deck-name-input-block {
  margin: 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 4px;

}

.deck-name-input {
  background-color: #9932cc9d;
  border: 1px solid #fff;
  color: #fff;
  flex-grow: 1;
  padding: .5rem;
}

.deck-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}

.card-slot {
  overflow: hidden;
  background-color: transparent;
  border: 2px solid gold;
  padding: 0;
  width: 104px;
  height: 104px;
  font-size: 2rem;
}

.card-slot-empty {
  border: 2px dashed white;
  color: white;
}

.editor-section-header {
  margin-bottom: 0px;
  flex-grow: 1;
  text-align: left;
  font-size: 1rem;
}