#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background: url("./assets/sinnerBG.png");
  color: #FFF;
}
.content-horizontal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;
  margin-bottom: 18px;
}
.content-horizontal hr {
  width: 100%;
}
.content-horizontal h2 {
  margin-bottom: -8px;
  width: 100%;
  text-align: left;
  text-indent: 12px;
  text-decoration: underline;
  font-family: Orbitron, sans-serif;
}
.listItem {
  background-color: #9932cc9d;
  padding: .5rem;
  border-radius: 8px 0px 8px 0px;
  border: 4px double gold;
  text-align: left;
}
.list-basic {
  font-weight: 600;
}
.random-item-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.random-item-button-block {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.random-item-button-block button {
  padding: .5rem;
  border: 4px double white;
  background-color: gray;
  flex-grow: 1;
}
.right-button {
  border-radius: 0px 16px 0px 0px;
}
.left-button {
  border-radius: 16px 0px 0px 0px;
}
.page-title {
  font-family: Orbitron, sans-serif;
}
.action-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 4px;
}
.action-button {
  padding: 8px;
  background-color: #9932cc9d;
  color: black;
  line-height: 0;
}
.settings-block {
  text-align: left;
}
.hidden {
  display: none;
}
.btn-empty {
  border: 2px dashed #FFF;
  background-color: transparent;
  color: #FFF;
}

.MuiDrawer-modal {
  background-color: #9932cc9d;
}

.MuiDrawer-paper {
  background-image: url("/public/assets/sinnerBG.png");
  width: 80vw;
}